<h2>コメント詳細画面</h2>

<div class="center">
<p><%= @comment.content %></p>
<p><span class="star5_rating" data-rate="<%= @comment.star %>"></span></p>
</div>

<% if @comment.user_id == current_user.id %>
<%= link_to("編集", "/comments/#{@comment.id}/edit")%>
<%= link_to("削除", "/comments/#{@comment.id}/destroy", {method:"post"})%>
<% end %>


<p><%= link_to("戻る", "/icebreaks/#{@comment.icebreak_id}") %></p>
<p><%= link_to("アイスブレイク一覧へ", "/icebreaks") %></p>