<%#= link_to("新規登録","signup")%>
<%#= link_to("ログイン","/login")%>
<%#= link_to("ユーザー一覧","/users")%>


<h2 class="center">Love Icebreak</h2>
<% if user_signed_in? %>
            <h2 class="center">Mypage</h2>
            <p><%= link_to("全てのアイスブレイク", "/icebreaks") %></p>
　　　　　　　<p><%= link_to("アイスブレイク新規作成", "/icebreaks/new") %></p>
            <p><%= link_to 'プロフィール変更', edit_user_registration_path %></p>
            <p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></p>
            <% else %>
            <p><%= link_to 'サインアップ', new_user_registration_path %></p>
            <p><%= link_to 'ログイン', new_user_session_path %></p>
            <p>ポートフォリオをご覧の方へ</p>
            <p>アカウントをご用意しましたので、こちらでログインしていただくと、スムーズです。</p>
            <p>名前：ryo</p>
            <p>Eメール：example@sample.com</p>
            <p>パスワード：password</p>
<% end %>


